{{ ansible_managed | comment }}


# Restriction sudo pour l'utilisateur {{ compte_satisfactory }}
# Autorise uniquement la gestion du service satisfactory

{{ compte_satisfactory }} ALL=(root) PASSWD: systemctl start satisfactory.service
{{ compte_satisfactory }} ALL=(root) PASSWD: systemctl stop satisfactory.service
{{ compte_satisfactory }} ALL=(root) PASSWD: systemctl restart satisfactory.service
{{ compte_satisfactory }} ALL=(root) PASSWD: systemctl status satisfactory.service
