{{ ansible_managed | comment }}

# Révoquer toute élévation par défaut pour satisfactoryds
"{{ compte_satisfactory }}" ALL=(ALL) !ALL

# Autoriser UNIQUEMENT satisfactory.service
"{{ compte_satisfactory }}" ALL=(root) NOPASSWD: /usr/bin/systemctl start satisfactory.service
"{{ compte_satisfactory }}" ALL=(root) NOPASSWD: /usr/bin/systemctl stop satisfactory.service
"{{ compte_satisfactory }}" ALL=(root) NOPASSWD: /usr/bin/systemctl restart satisfactory.service
"{{ compte_satisfactory }}" ALL=(root) NOPASSWD: /usr/bin/systemctl status satisfactory.service
