---
- name: Désactivation du pare feu par défaut
  ansible.builtin.systemd_service:
    name: ufw
    state: stopped
    enabled: false
  ignore_errors: true

- name: Suppression du pare-feu par défaut.
  ansible.builtin.apt:
    name: ufw
    state: absent
    purge: true

- name: Création du répertoire de surcharge de firewalld.
  ansible.builtin.file:
    path: /usr/lib/systemd/system/firewalld.service.d
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags:
    - config

- name: Installation du fichier de surcharge de firawalld.
  ansible.builtin.template:
    src: durcissemnt.j2
    dest: /usr/lib/systemd/system/firewalld.service.d/durcissemnt.conf
    backup: false
    owner: root
    group: root
    mode: '0644'
  tags:
    - config

- name: Démarrage du pare-feu.
  ansible.builtin.systemd_service:
    name: firewalld
    state: restarted
    enabled: true
  tags:
    - config

- name: Fermeture des ports non utilisé.
  ansible.posix.firewalld:
    service: "{{ item.service }}"
    permanent: true
    state: "{{ item.etat }}"
    immediate: true
  loop:
    - {service: 'http', etat: 'disabled'}
    - {service: 'https', etat: 'disabled'}
    - {service: 'ftp', etat: 'disabled'}
    - {service: 'ntp', etat: 'enabled'}
  tags:
    - config
