---
- name: Désactivation du pare feu par défaut
  ansible.builtin.systemd_service:
    name: ufw
    state: stopped
    enabled: false
  ignore_errors: true

- name: Suppression du pare-feu par défaut.
  ansible.builtin.apt:
    name: ufw
    state: absent
    purge: true

- name: Installation des packages.
  ansible.builtin.apt:
    name: "{{ installe_packages }}"
    state: latest
    update_cache: true

- name: Arrêt des services.
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - chrony
    - fail2ban
    - firewalld

- name: Mise à jour du système.
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: true

- name: Vidage de fichiers.
  ansible.builtin.copy:
    dest: "{{ item }}"
    content: ""
    owner: root
    group: root
    mode: '0644'
    backup: false
  loop:
    - /etc/issue
    - /etc/motd

- name: Suppression des fichiers inutiles.
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/ssh/sshd_config.d/50-cloud-init.conf

- name: Installation de la banniére.
  ansible.builtin.template:
    src: banniere.j2
    dest: /etc/issue.net
    backup: false
    owner: root
    group: root
    mode: '0644'

- name: Création de plusieurs répertoires de surcharge.
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - /etc/systemd/system/sshd.service.d/
    - /usr/lib/systemd/system/chrony.service.d/
    - /etc/systemd/system/fail2ban.service.d

- name: Configuration du ssh.
  ansible.builtin.template:
    src: "{{ item.fichier }}"
    dest: "{{ item.chemin }}"
    backup: false
    owner: root
    group: root
    mode: '0600'
  loop:
    - {fichier: 'sshd_config_modif.j2', chemin: '/etc/ssh/sshd_config.d/90-sshd_config_modif.conf'}
    - {fichier: 'ssh_chiffrement.j2', chemin: '/etc/ssh/sshd_config.d/91-crypto-policies.conf'}
    - {fichier: 'durcissemnt.j2', chemin: '/etc/systemd/system/sshd.service.d/durcissemnt.conf'}

- name: Durcissement de la configuration sudo.
  ansible.builtin.template:
    src: config_sudo.j2
    dest: /etc/sudoers.d/01-durcissement
    backup: false
    owner: root
    group: root
    mode: '0640'

- name: Configuration de la timezone.
  community.general.timezone:
    name: Europe/Paris

- name: Configuration de chrony.
  ansible.builtin.template:
    src: chrony.j2
    dest: /etc/chrony.conf
    backup: false
    owner: root
    group: root
    mode: '0644'
  loop:
    - {fichier: 'chrony.j2', chemin: '/etc/chrony/chrony.conf'}
    - {fichier: 'durcissemnt.j2', chemin: '/usr/lib/systemd/system/chrony.service.d/durcissemnt.conf'}

- name: Démarrage du service chrony.
  ansible.builtin.systemd_service:
    name: chrony
    state: started
    enabled: true

- name: Installation de la configuration de fail2ban.
  ansible.builtin.template:
    src: "{{ item.fichier }}"
    dest: "{{ item.chemin }}"
    backup: false
    owner: root
    group: root
    mode: '0644'
  loop:
    - {fichier: 'fail2ban.j2', chemin: '/etc/fail2ban/jail.local'}
    - {fichier: 'fail2ban-ssh.j2', chemin: '/etc/fail2ban/jail.d/01-sshd.local'}
    - {fichier: 'durcissemnt.j2', chemin: '/etc/systemd/system/fail2ban.service.d/durcissemnt.conf'}

- name: Active fail2ban au démarrage.
  ansible.builtin.systemd_service:
    name: fail2ban
    enabled: true
    daemon-reload: true
    state: restarted

- name: "Création d'un compte utilisateur pour le serveur satisfactory."
  ansible.builtin.user:
    name: "{{ compte_satisfactory }}"
    password: "{{ satisfactory_passwd | password_hash('sha512', 'SeBa5TuX59') }}"
    state: present
    update_password: on_create
    shell: /bin/bash
    groups: sudo
    create_home: true
    comment: "Compte applicatif satisfactory."
    append: true

- name: Création des droits sudo pour le compte utilisateur.
  ansible.builtin.template:
    src: sudo_satis.j2
    dest: /etc/sudoers.d/10-sudo_satis
    backup: false
    owner: root
    group: root
    mode: '0440'

- name: Activation du dépot multivers.
  ansible.builtin.shell:
    cmd: add-apt-repository multiverse
    executable: /bin/bash

- name: Activation de l'architecture 32 bits.
  ansible.builtin.shell:
    cmd: dpkg --add-architecture i386
    executable: /bin/bash

- name: Accepter la licence Steam
  ansible.builtin.shell: |
    echo steam steam/question select "I AGREE" | debconf-set-selections
    echo steam steam/license note '' | debconf-set-selections

- name: Installer steamcmd
  ansible.builtin.apt:
    name: steamcmd
    state: present
    update_cache: yes
