---
- name: Vérification du mot de passe.
  ansible.builtin.fail:
    msg: "Vous devez modifier le mot de passe par défaut."
  when: satisfactory_passwd == "P@ssW0rd#2025"
  tags:
    - satisds
    - always

- name: Activation du dépôt multiverse
  ansible.builtin.apt_repository:
    repo: "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} multiverse"
    state: present
    update_cache: true
  tags:
    - satisds

- name: Activation de l'architecture 32 bits.
  ansible.builtin.shell:
    cmd: dpkg --add-architecture i386
    executable: /bin/bash
  tags:
    - satisds

- name: Accepter la licence Steam.
  ansible.builtin.shell: |
    echo steam steam/question select "I AGREE" | debconf-set-selections
    echo steam steam/license note '' | debconf-set-selections
  tags:
    - satisds

- name: Installation de steamcmd.
  ansible.builtin.apt:
    name: steamcmd
    state: present
    update_cache: true
  tags:
    - satisds

- name: "Création du compte de service {{ compte_satisfactory }}."
  ansible.builtin.user:
    name: "{{ compte_satisfactory }}"
    password: "{{ satisfactory_passwd | password_hash('sha512', satisfactory_salt) }}"
    state: present
    update_password: on_create
    shell: /bin/bash
    create_home: true
    comment: "Compte applicatif satisfactory."
    system: true
  tags:
    - satisds

- name: Création du répertoire de stockage du jeu.
  ansible.builtin.file:
    path: "/home/{{ compte_satisfactory }}/steam"
    state: directory
    owner: "{{ compte_satisfactory }}"
    group: "{{ compte_satisfactory }}"
    mode: '0755'
    recurse: true
  tags:
    - satisds

- name: Copie du script d'installation du serveur.
  ansible.builtin.template:
    src: install_satis.j2
    dest: "/home/{{ compte_satisfactory }}/steam/install_satis.sh"
    owner: "{{ compte_satisfactory }}"
    group: "{{ compte_satisfactory }}"
    mode: '0700'
    backup: false
  tags:
    - satisds

- name: Installation du serveur satisfactory.
  ansible.builtin.shell:
    cmd: "/home/{{ compte_satisfactory }}/steam/install_satis.sh"
    executable: /bin/bash
  become: true
  become_user: "{{ compte_satisfactory }}"
  become_method: su
  tags:
    - satisds

- name: Suppression du script d'installation du serveur.
  ansible.builtin.file:
    path: "/home/{{ compte_satisfactory }}/steam/install_satis.sh"
    state: absent
  tags:
    - satisds

- name: Création du répertoire de surcharge pour satisfactory.
  ansible.builtin.file:
    path: /etc/systemd/system/satisfactory.service.d
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags:
    - satisds

- name: Copie des fichiers service satisfactory.
  ansible.builtin.template:
    src: "{{ item.fichier }}"
    dest: "{{ item.chemin }}"
    owner: root
    group: root
    mode: '0640'
    backup: false
  loop:
    - {fichier: 'satis_service.j2', chemin: '/etc/systemd/system/satisfactory.service'}
    - {fichier: 'durcissemnt.j2', chemin: '/etc/systemd/system/satisfactory.service.d/durcissemnt.conf'}
  tags:
    - satisds

- name: Prise en compte du nouveau fichier de service.
  ansible.builtin.systemd_service:
    daemon-reload: true
  tags:
    - satisds

- name: Copie du fichier de règle du pare-feu.
  ansible.builtin.copy:
    src: satisfactory.xml
    dest: /etc/firewalld/services/satisfactory.xml
    owner: root
    group: root
    mode: '0644'
  tags:
    - satisds

- name: Redémarrage du pare-feu.
  ansible.builtin.systemd_service:
    name: firewalld
    state: restarted
    enabled: true
    daemon-reload: true
  tags:
    - satisds

- name: Ouverture des ports du serveur satisfactory.
  ansible.posix.firewalld:
    service: satisfactory
    permanent: true
    state: enabled
    immediate: true
  tags:
    - satisds

- name: Démarrage du service Satisfactory.
  ansible.builtin.systemd_service:
    name: satisfactory
    state: started
    enabled: true
  tags:
    - satisds
